/* Global Styles */
:root {
  --main-color: #32333b;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
h1,
p {
  font-family: "Asap", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.main-button {
  text-transform: uppercase;
  background-image: linear-gradient(
    to top,
    #1c2f1a 0%,
    #1c6634 46%,
    #1ca44a 100%
  );
  color: #fff;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*--------------------------------- Navbar styles -------------------------------------------- */
.navbar {
  background-color: var(--main-color);
  position: relative;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.navbar .logo {
  font-size: 26px;
  font-weight: bold;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .navbar .logo {
    width: 100%;
    height: 50px;
  }
}

.navbar .main-nav {
  display: flex;
}

@media (max-width: 767px) {
  .navbar .main-nav {
    margin: auto;
  }
}

.navbar .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  position: relative;
  color: #fff;
  padding: 0 30px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .navbar .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 30px;
  }
}

/* ---------------------------------------- Header Styles ---------------------------------------   */
header .header {
  background-image: url("../assets/images/main.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  position: relative;
}

header .header__text {
  position: absolute;
  bottom: 40px;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  width: 100%;
  /* height: 120px; */
  /* display: flex; 
  flex-direction: column; */
}
header .header__text h1 {
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  /* align-self: flex-end;
  justify-self: flex-end; */

  background-clip: text;
  text-shadow: -1px 2px 5px rgba(0, 0, 0, 0.75);
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  header .header {
    height: 350px;
  }
  header .header__text {
    bottom: 20px;
  }
  header .header__text h1 {
    font-size: 30px;
  }
}

/* -------------------------------------- Registration Section Styles --------------------------- */
.registration__section {
  background-color: #fff;
}
section .container .registration {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}
section .container .registration .registration__webinar {
  width: 50%;
}
section .container .registration .registration__webinar h1 {
  width: 419px;
  height: 21px;
  color: #000000;
  font-size: 28px;
  font-weight: 700;
  line-height: 31.01px;
  text-transform: uppercase;
  letter-spacing: -0.56px;
}
section .container .registration .registration__webinar p {
  width: 80%;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}
section .container .registration .registration__button {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .container .registration .registration__button .registration__logo {
  padding: 10px;
  fill: #000;
  color: #000;
}
section .container .registration .registration__button button {
  width: 314px;
  height: 62px;
  text-transform: uppercase;
  background-image: linear-gradient(
    to top,
    #1c2f1a 0%,
    #1c6634 46%,
    #1ca44a 100%
  );
  color: #fff;
}
section .container .registration .registration__button p {
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
}

@media (max-width: 767px) {
  section .container .registration {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
  }
  section .container .registration .registration__webinar {
    width: 100%;
  }

  section .container .registration .registration__button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  section .container .registration .registration__webinar {
    width: 220px;
    font-size: 18px;
    height: 20px;
  }
}

/* -------------------------------    Popup Window  ------------------------------------- */

.bg-modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 500px;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-contents {
  height: 450px;
  width: 500px;
  background-color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 4px;
}
.bg-modal .modal-contents h1 {
  /* background-color: var(--main-color); */
  width: 100%;
  padding: 10px;
  font-size: 42px;
}
.bg-modal .modal-contents button {
  width: 220px;
  height: 40px;
}

input {
  margin: 15px auto;
  display: block;
  width: 50%;
  padding: 8px;
  border: 1px solid gray;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  transform: rotate(45deg);
  cursor: pointer;
}

.close:hover {
  color: #666;
}
/* ------------------------------------------------- Footer Styles --------------------------------- */

footer {
  background-color: #e8edf0;
  padding-top: 20px;
}
footer .container .contacts {
  display: flex;
  font-family: "Gotham", sans-serif;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
footer .container .contacts .left__contacts {
  background-color: #f09e1f;
  color: #fff;
  margin-right: 80px;

}

footer .container .contacts .left__contacts h3 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
}
footer .container .contacts .left__contacts .contacts__icons ul {
  display: flex;
  justify-content: center;
}
footer .container .contacts .left__contacts .contacts__icons li {
  margin: 0 20px 20px 20px;
}
footer .container .contacts .left__contacts .contacts__text {
  display: flex;
  background-color: #1c2f1a;
  justify-content: center;
}
footer .container .contacts .left__contacts .contacts__text span {
  padding-right: 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.35px;
  white-space: nowrap;
}
footer .container .contacts .left__contacts .contacts__text span:nth-child(2) {
  padding: 0px 20px;
  border-left: 2px solid #ce232b;
  border-right: 2px solid #ce232b;
}
footer .container .contacts .left__contacts .contacts__text span:nth-child(3) {
  padding-right: 0px;
  padding-left: 20px;
}

footer .container .contacts .divider {
  background-color: rgba(23, 12, 5, 0);
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.5),
    inset 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  width: 3px;
  height: 146px;
  align-self: center;
}
footer .container .contacts .right__contacts {
  display: flex;
  background-color: #ac1f22;
  margin-left: 50px;

}
footer .container .contacts .right__contacts .contacts__avatar {
  padding: 40px 35px 8px 0;
}
footer .container .contacts .right__contacts .contacts__connections {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
footer
  .container
  .contacts
  .right__contacts
  .contacts__connections
  .connect__text {
  display: flex;
  flex-direction: column;
  padding: 25px 60px 10px 0;
}
footer
  .container
  .contacts
  .right__contacts
  .contacts__connections
  .connect__text
  span {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
}
footer .container .contacts .right__contacts .social__icons ul {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  footer .container .contacts {
    justify-content:space-between;
  }
  footer .container .contacts .left__contacts {
    margin: 20px 20px 30px 0;
  }
  footer .container .contacts .right__contacts {
    margin: 20px 0 30px 20px;

  }
  footer .container .contacts .divider {
    display: none;
  }
}
@media (max-width: 1199px) {
  footer .container .contacts {
    justify-content:space-between;
  }
  footer .container .contacts .left__contacts {
    margin: 20px 20px 30px 0;
  }
  footer .container .contacts .right__contacts {
    margin: 20px 0 30px 20px;

  }
  footer .container .contacts .divider {
    display: none;
  }
}
footer .colors {
  width: 100%;
  height: 10px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
}
footer .colors span {
  background-color: #32333b;
  width: 25%;
}
footer .colors :nth-child(1) {
  background-color: #104779;
}
footer .colors :nth-child(2) {
  background-color: #ac1f22;
}
footer .colors :nth-child(3) {
  background-color: #f09e1f;
}
footer .colors :nth-child(4) {
  background-color: #1b6634;
}

footer .policy {
  height: 70px;
  background-color: #32333b;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .policy p {
  color: #bebebe;
  font-family: Gotham;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
